NODE_ENV=production
PORT=4010

DB_USERNAME=minibudget_prod
DB_PASSWORD=replace_me
DB_DATABASE=minibudget_prod
DB_HOST=127.0.0.1
DB_PORT=5432

JWT_SECRET=replace_me_with_a_real_secret
CORS_ORIGINS=https://myminibudget.com,https://www.myminibudget.com,https://app.myminibudget.com
LOG_TARGET=external
